<header role="banner">
  <mat-toolbar class="d-flex justify-content-center">
    <span class="fw-bold">Frete grátis para todo o Brasil</span>
  </mat-toolbar>
  <section class="d-flex flex-column gap-2 text-white p-5" [style.background-image]="'url(' + bgImgSrc + ')'">
    <figure class="me-sm-5 ms-sm-5">
      <div class="d-flex align-items-center mb-3">
        <img [ngSrc]="imgSrc" height="48" width="48" alt="Logo of Jordan Shoes brand">
        <figcaption>
          <h1 class="fs-5 mb-0">JordanShoes</h1>
        </figcaption>
      </div>
      <h2>A melhor loja de Jordan</h2>
      <p class="mb-0">O tênis Jordan é fruto de uma velha e forte <br>
                      parceria entre a Nike e o jogador Michael Jordan.</p>
    </figure>
  </section>
</header>